header.masthead {
  position: relative;
  width: 100%;
  padding-top: 24px;
  padding-bottom: 100px;
  color: #fff;
  background: #ffffff;
}

@media (max-width: 760px) {
  .candidate-info, .candidate-info > span{
    text-align: center;
    font-size: smaller;
  }
  .candidate-img img {
    height: 60px;
    width: 60px;
  }
}
