header.masthead {
  position: relative;
  width: 100%;
  padding-top: 24px;
  padding-bottom: 100px;
  color: #fff;
  background: #ffffff;
}

@media (max-width: 768px) {
  .candidate-info {
    text-align: center;
    font-size: smaller;
  }
}

@media (max-width: 768px) {
  .candidate-img img {
    height: 80px;
    width: 80px;
  }
}

